* {
  margin: 0;
  padding: 0;
  /* 怪异盒 */
  box-sizing: border-box;
}

ul,ol,dl {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: normal;
}

i,
b,
del,
em {
  font-style: normal;
}

img {
  /* border 0 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
  border: 0;
  /* 取消图片底侧有空白缝隙的问题 */
  vertical-align: middle
}

button,
input {
  /* "\5B8B\4F53" 就是宋体的意思 这样浏览器兼容性比较好 */
  font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
  /* 默认有灰色边框我们需要手动去掉 */
  border: 0;
  outline: none;
}

button {
  /* 当我们鼠标经过button 按钮的时候，鼠标变成小手 */
  cursor: pointer
}

body {
  /* CSS3 抗锯齿形 让文字显示的更加清晰 */
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font-family: "微软雅黑", "Microsoft Yahei";
  font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
  color: #666
}
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.woff2') format('woff2'),
       url('../font/iconfont.woff') format('woff'),
       url('../font/iconfont.ttf') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 清除浮动 */
.clearfix::after {
  content: '';
  clear: both;
  visibility: hidden;
  display: none;
  height: 0;
}

/* IE浏览器清除浮动 */
.clearfix {
  *zoom: 1
}

/* 双伪元素清除浮动 */
/* .clearfix::before,
.clearfix::after{
    content: '';
    display: table;
}
.clearfix::after{
    clear: both;
} */
.w {
  width: 1040px;
  margin: 0 auto;
}
.l {
  float: left;
}
.r {
  float: right;
}